<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{site/index.html}">
<head>

<link rel="stylesheet" href="">
</head>
<body>
	
			<section class="row" layout:fragment="content">
				<div class="col">
          <div class="offset-4 col-4">
            <form th:action="@{/forgot-password}" method="post" th:object="${account}">
              <div class="card mt-5">
                <div class="card-header">
                  <b>Quên mật khẩu</b>
                </div>
                <div class="card-body">
                <div th:if="${message != null}" class="alert alert-primary" role="alert">
                            <i>[[${message}]]</i>
                        </div>
                  <div class="form-group">
                    <label for="id">Username</label> <input type="text"
                      class="form-control" th:field="*{id}"
                      aria-describedby="usernameHid" placeholder="username"> <small
                      id="usernameHid" class="form-text text-muted"> username
                      is required</small>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label> <input type="text"
                      class="form-control" th:field="*{email}" placeholder="email"
                      required="required">
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <button class="btn btn-success" formaction="">Send Password</button>
                  <label> hoặc</label> <a class="dropdown-item" th:href="@{/login}">Đăng
											nhập</a>
                </div>
              </div>
            </form>
          </div>
				</div>
			</section>
			
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>