<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
  <head>
</head>
<body>
	<div th:fragment="header">
	<div  class="row-4">
    <marquee id="marq" scrollamount="9" direction="right" loop="50" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

      <a href=""><img src="/images/icon3.png.crdownload" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      
      <a href=""><img src="/images/ao_hoodie.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      <a href=""><img src="/images/ao_ni.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      <a href=""><img src="/images/ao_phong.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      <a href=""><img src="/images/ao_phong1.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      <a href=""><img src="/images/ao_xinh.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      <a href=""><img src="/images/ao_3lo.jpg" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      
      <a href=""><img src="/images/icon1.png" title="Ghi chú cho ảnh" width="150" height="100"/> </a>
      </marquee>
  </div>
	</div>
</body>
</html>