<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{admin/layout.html}">
  <head>
   
  </head>
  <body> 
  
          <!-- Content -->
          <section class="row" layout:fragment="content">
                <div class="col">
                <section class="row" >
                <div class="col-6 offset-3 mt-4 ">
                    <form th:action="@{/admin/categories/add}" method="post"
                        th:object="${category}">
                        <div class="card">
                            <div class="card-header">
                                <h2>Add new Category</h2>
                            </div>
                            <div class="card-body">
                            <div th:if="${message != null}" class="alert alert-primary" role="alert">
                                    <i>[[${message}]]</i>
                                </div>
                                <div class="form-group">
                                    <label for="name">ID</label> <input type="text"
                                        class="form-control" th:field="*{id}" 
                                        aria-describedby="idHid" placeholder="Category id">
                                    <small id="idHid" class="form-text text-muted">id is
                                        required</small>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label> <input type="text"
                                        class="form-control" th:field="*{name}" 
                                        aria-describedby="nameHid" placeholder="Category Name">
                                    <small id="nameHid" class="form-text text-muted">name is
                                        required</small>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <a th:href="@{/admin/categories}" class="btn btn-success">List
                                    Category</a>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
                </div>
          </section>
         
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
